/* begin Page */
/* Created by Artisteer v3.0.0.33215 */

#art-main, table
{
    font-family: Verdana, Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

body
{
  margin: 0 auto;
  padding: 0;
  color: #000000;
  background:url(../img/Bottom_texture.png);
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
    font-family: Verdana, Arial;
    text-align: justify;
    /*letter-spacing: 1px;*/
}

.art-postcontent p
{
    margin: 12px 0 12px 0;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
{
  font-family: Verdana, Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.art-postcontent a
{
  font-family: Verdana, Arial;
  text-decoration: none;
  color: #767A38;
}

.art-postcontent a:link
{
  font-family: Verdana, Arial;
  text-decoration: none;
  color: #767A38;
}

.art-postcontent a:visited, .art-postcontent a.visited
{

  color: #767A38;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{


  color: #9BA14A;
}


.art-postcontent h1
{
   margin: 12px 0 12px 0; 
   color: #000000;
   font-size: 22px; 
}

.art-postcontent h2
{
    color: #000000;
   margin: 13px 0 13px 0; 
   font-size: 20px;   
}

.art-postcontent h3
{
   margin: 16px 0 16px 0; 
  color: #000000; 
    
}

.art-postcontent h4
{
   margin: 18px 0 18px 0; 
   color: #000000; 
   font-size: 16px;   
}

.art-postcontent h5
{
   margin: 20px 0 20px 0; 
   color: #000000;   
   font-size: 14px;
}

.art-postcontent h6
{
   margin: 25px 0 25px 0; 
   color: #000000;
   font-size: 12px;      
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

#art-main
{
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
}




.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1px;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.art-sheet
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-sheet-body
{
  position: relative;
  padding: 0;
}

.art-sheet-cc
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:url(../img/Bottom_texture.png);
}

.art-sheet
{
  top: 0 !important;
  margin-bottom: 0 !important;
  cursor:auto;
  width: 100%;
}


/* end Box, Sheet */

/* begin Menu */
/* menu structure */

.art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover
{
    outline: none;
}

.art-menu, .art-menu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.art-menu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background: none;
}

.art-menu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.art-menu li li
{
  float: none;
}

.art-menu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background: none;
}

.art-menu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.art-menu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.art-menu:after, .art-menu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.art-menu, .art-menu ul
{
  min-height: 0;
}

.art-menu ul
{
  background-image: url('../img/spacer.gif');
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.art-menu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}




/* menu structure */

.art-menu
{
  padding: 0 0 0 0;
}

.art-nav
{
  position: relative;
  min-height: 27px;
  z-index: 100;
}

.art-nav .l, .art-nav .r
{
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100%;
  background-image: url('../img/nav.png');
}
.art-nav .adl, .art-nav .adr
{
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100%;
  background-image: url('../img/nav.png');
}

.art-nav .l, .art-nav .adl
{
  left: 0;
  right: 0;
}

.art-nav .r, .art-nav .adr
{
  right: 0;
  width: 1920px;
  clip: rect(auto, auto, auto, 1920px);
}


/* end Menu */

/* begin MenuItem */
.art-menu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 27px;
  cursor: pointer;
  text-decoration: none;
}


.art-menu ul li
{
    margin:0;
    clear: both;
}


.art-menu a .r, .art-menu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 91px;
  background-image: url('../img/menuitem.png');
}

.art-menu a .l
{
  left: 0;
  right: 0;
}

.art-menu a .r
{
  width: 400px;
  right: 0;
  clip: rect(auto, auto, auto, 400px);
}

.art-menu a .t, .art-menu ul a, .art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover
{
  font-family: Verdana, Arial;
  font-weight: bold;
  font-size: 13px;
  text-align: left;
  text-decoration: none;
}

.art-menu a .t
{
  color: #FFFFFF;
  padding: 0 22px;
  margin: 0 0;
  line-height: 27px;
  text-align: center;
}

.art-menu a:hover .l, .art-menu a:hover .r
{
  top: -32px;
}

.art-menu li:hover>a .l, .art-menu li:hover>a .r
{
  top: -32px;
}

.art-menu li:hover a .l, .art-menu li:hover a .r
{
  top: -32px;
}
.art-menu a:hover .t
{
  color: #2F4A11;
}

.art-menu li:hover a .t
{
  color: #2F4A11;
}

.art-menu li:hover>a .t
{
  color: #2F4A11;
}

/* end MenuItem */

/* begin MenuSeparator */
.art-menu .art-menu-li-separator
{
  display: block;
  width: 2px;
  height:27px;
}
.art-nav .art-menu-separator
{
  display: block;
  margin:0 auto;
  width: 2px;
  height: 27px;
  background-image: url('../img/menuseparator.png');
}
/* end MenuSeparator */

/* begin MenuSubItem */
.art-menu ul a
{
  display: block;
  text-align: center;
  white-space: nowrap;
  height: 32px;
  width: 240px;
  overflow: hidden;
  line-height: 32px;
  background-image: url('../img/subitem.png');
  background-position: left top;
  background-repeat: repeat-x;
  border-width: 0;
  border-style: solid;
}

.art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

.art-menu ul a, .art-menu ul a:link, .art-menu ul a:visited, .art-menu ul a:hover, .art-menu ul a:active, .art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 32px;
  color: #FFFFFF;
  font-size: 11px;
  margin:0;
  padding:0;
}

.art-menu ul li a:hover
{
  color: #2F4A11;
  background-position: 0 -32px;
}

.art-menu ul li:hover>a
{
  color: #2F4A11;
  background-position: 0 -32px;
}

.art-nav .art-menu ul li a:hover span, .art-nav .art-menu ul li a:hover span span
{
  color: #2F4A11;
}

.art-nav .art-menu ul li:hover>a span, .art-nav .art-menu ul li:hover>a span span
{
  color: #2F4A11;
}


/* end MenuSubItem */

/* begin Layout */
.art-content-layout
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding:0 !important;
}
.art-layout-cell, .art-content-layout-row
{
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none !important;
  margin:0 !important;
  padding:0 !important;
}
.art-content-layout .art-content-layout{width: auto;margin:0;}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell{display: table-cell;}
.art-layout-cell .art-layout-cell{display: block;}
.art-content-layout-row {display: table-row;}
.art-layout-glare{position:relative;}/* end Layout */

/* begin Box, Block */
.art-block
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-block-body
{
  position: relative;
  padding: 7px;
}


.art-block
{
  margin: 10px;
}

/* end Box, Block */

/* begin Box, BlockContent */
.art-blockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-blockcontent-body
{
  position: relative;
  padding: 0;
}


.art-blockcontent-body, 
.art-blockcontent-body li, 
.art-blockcontent-body a,
.art-blockcontent-body a:link,
.art-blockcontent-body a:visited,
.art-blockcontent-body a:hover
{
  color: #554E2B;
  font-family: Verdana, Arial;
  font-size: 11px;
}

.art-blockcontent-body p
{
  margin: 6px 0 6px 0;
}

.art-blockcontent-body a
{
  color: #9BA14A;
  text-decoration: underline;
}

.art-blockcontent-body a:link
{
  color: #9BA14A;
  text-decoration: underline;
}

.art-blockcontent-body a:visited, .art-blockcontent-body a.visited
{
  color: #B7AD71;

}

.art-blockcontent-body a:hover, .art-blockcontent-body a.hover
{
  color: #9BA14A;

  text-decoration: none;
}

.art-blockcontent-body ul li
{
  line-height: 125%;    
  color: #706838;

  padding: 0 0 0 11px;
  background-image: url('../img/blockcontentbullets.png');
  background-repeat: no-repeat;
}/* end Box, BlockContent */

/* begin Button */
.art-button-wrapper a.art-button,
.art-button-wrapper a.art-button:link,
.art-button-wrapper input.art-button,
.art-button-wrapper button.art-button
{
  text-decoration: none;
  font-family: Verdana, Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  position:relative;
  top:0;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #fff !important;
  width: auto;
  outline: none;
  border: none;
  background: none;
  line-height: 32px;
  height: 32px;
  margin: 0 !important;
  padding: 0 19px !important;
  overflow: visible;
  cursor: pointer;
}

.art-button img, .art-button-wrapper img
{
  margin: 0;
  vertical-align: middle;
}

.art-button-wrapper
{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 32px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 0;
}

input, select, textarea
{
  vertical-align: middle;
  font-family: Verdana, Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}

.art-block select 
{
    width:96%;
}

.art-button-wrapper.hover .art-button, .art-button-wrapper.hover a.art-button:link, .art-button:hover
{
  color: #000000 !important;
  text-decoration: none !important;
}

.art-button-wrapper.active .art-button, .art-button-wrapper.active a.art-button:link
{
  color: #E7E4D0 !important;
}

.art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r
{
  display: block;
  position: absolute;
  height: 106px;
  margin: 0;
  padding: 0;
  background-image: url('../img/button.png');
}

.art-button-wrapper .art-button-l
{
  left: 0;
  right: 9px;
}

.art-button-wrapper .art-button-r
{
  width: 411px;
  right: 0;
  clip: rect(auto, auto, auto, 402px);
}

.art-button-wrapper.hover .art-button-l, .art-button-wrapper.hover .art-button-r
{
  top: -37px;
}

.art-button-wrapper.active .art-button-l, .art-button-wrapper.active .art-button-r
{
  top: -74px;
}

.art-button-wrapper input
{
  float: none !important;
}
/* end Button */

/* begin Box, Post */
.art-post
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-post-body
{
  position: relative;
  padding: 10px;
}


.art-post
{
  margin: 10px;
}

a img
{
  border: 0;
}

.art-article img, img.art-article
{
  border: solid 0 #2F3116;
  margin: 10px;
}

.art-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.art-article table, table.art-article
{
  border-collapse: collapse;
  margin: 1px;
}

.art-article th, .art-article td
{
  /*padding: 2px;
  border: solid 1px #2F3116;
  vertical-align: top;
  text-align: left;*/
}

.art-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

/* end Box, Post */

/* begin PostMetadata, PostMetadataHeader */
.art-postmetadataheader
{
  overflow:hidden;
  padding: 1px 10px;
  background-image: url('../img/postmetadataheader_bg.png');
  border-color: #CFC8A0;
  border-style: solid;
  border-width: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 5px;
}
/* end PostMetadata, PostMetadataHeader */

/* begin PostHeaderIcon */
h2.art-postheader
{
  color: #222310;
  margin: 3px 0 3px 0;
}

h2.art-postheader, 
h2.art-postheader a, 
h2.art-postheader a:link, 
h2.art-postheader a:visited,
h2.art-postheader a.visited,
h2.art-postheader a:hover,
h2.art-postheader a.hovered
{
  font-size: 20px;
}

h2.art-postheader a, h2.art-postheader a:link
{
  text-align: left;
  text-decoration: none;
  color: #446B19;
}

h2.art-postheader a:visited, h2.art-postheader a.visited
{

  color: #E9E6D3;
}


h2.art-postheader a:hover,  h2.art-postheader a.hovered
{

  text-decoration: underline;
  color: #D7DAAF;
}

/* end PostHeaderIcon */

/* begin PostBullets */
.art-post ol, .art-post ul
{
  margin: 1em 0 1em 2em;
  padding: 0;
}

.art-post li
{
  font-family: Verdana, Arial;
  font-size: 11px;
}

.art-post li ol, .art-post li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

.art-post li
{
  color: #554E2B; 

  padding: 0;
}


.art-post li
{
  padding: 0 0 0 13px;
}

.art-post ol>li
{
  background: none;
  padding-left: 0;/* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.art-post ul>li
{
  background-image: url('../img/postbullets.png');
  background-repeat: no-repeat;
  padding-left: 13px;/* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
  overflow-y: hidden;
}


/* end PostBullets */

/* begin PostQuote */
.art-postcontent blockquote,
.art-postcontent blockquote a,
.art-postcontent blockquote a:link,
.art-postcontent blockquote a:visited,
.art-postcontent blockquote a:hover
{
  color: #403C20;
  text-align: left;
}

.art-postcontent blockquote p
{
   margin: 5px 10px 10px 10px;
}

.art-postcontent blockquote
{
   border: solid 0 #C9CD93;
  margin: 10px 10px 10px 50px;
  padding: 4px 4px 4px 41px;
  background-color: #E5E2CC;
  background-image: url('../img/postquote.png');
  background-position: left top;
  background-repeat: no-repeat;/* makes blockquote not to align behind the image if they are in the same line */
  overflow: auto;
}

/* end PostQuote */

/* begin Footer */
.art-footer
{
  position: relative;
  overflow: hidden;
  width: 100%;
}

.art-footer-b 
{
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  height:50px;
  background-image: url('../img/footer_b.png');
}


.art-footer-t
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  background-color: #C5BC8C;
}

.art-footer-body
{
    position:relative;
    padding: 8px;
}

.art-footer-body .art-rss-tag-icon
{
  position: absolute;
  left:   6px;
  bottom:8px;
  z-index:1;
}

.art-rss-tag-icon
{
  display: block;
  background-image: url('../img/rssicon.png');
  background-position: center right;
  background-repeat: no-repeat;
  height: 32px;
  width: 25px;
  cursor: default;
}

.art-footer-text p
{
  padding:0;
  margin:0;
}

.art-footer,
.art-footer a,
.art-footer a:link,
.art-footer a:visited,
.art-footer a:hover
{
    color: #1E1F0E;
    letter-spacing: 1px;
}

.art-footer-text
{
  min-height: 32px;
  padding: 0 10px 0 10px;

}

.art-footer,
.art-footer-text,
.art-footer p
{
  text-align: center;
}

.art-footer a,
.art-footer a:link
{
  color: #656930;
  text-decoration: underline;
}

.art-footer a:visited
{
  color: #665E33;

}

.art-footer a:hover
{
  color: #443F22;

  text-decoration: none;
}
/* end Footer */

/* begin PageFooter */
.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #878C40;
}

.art-page-footer
{
  margin: 1em;
  text-align: center;
  text-decoration: none;
  color: #665E33;
}
/* end PageFooter */

/* begin LayoutCell, content */




.art-content-layout .art-content .art-block
{
  background-color: #FFFFFF;
}
/* end LayoutCell, content */




.overview-table .art-layout-cell
{
    width:33%;
}


.overview-table-inner 
{
    margin:10px;
}

table.table
{
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
    text-align:left;
    vertical-align:top;
}

table.table, table.table tr, table.table td
{
    border:none;
    margin:0;
    padding:0;
    background-color:Transparent;
}

img.image
{
    margin:0;
    padding:0;
    border:none;
}


